.app {
    margin: 1.5em;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.createTodo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    margin-bottom: 30px;
}

h1 {
    margin: 10px;
}

input {
    margin-right: 5px;
}

.todoList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    width: 20em;
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 12px 12px 12px 12px;
    margin-bottom: 6px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 15px;
}

.todo-content {
    Word-wrap: break-word;
    box-sizing: border-box;
    padding-right: 10px;
}

.delete {
    align-self: center;
}